@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@500&display=swap');

.App {
  text-align: start;
  font-family: 'Noto Serif TC', serif;
}

button.disabled {
  cursor: not-allowed;
}

#score-and-reveal{
  margin-left: 5%;
  display: flex;
  flex-direction: column;
}

.reveal-correct{
  /* border: 2px solid #9ed0c9;
  border-radius: 2px; */
  background-color: #9ed0c9;
}

#game-board{
  display: flex;
  flex-direction: row;
}

#start{
  padding: 10%;  
}

.q-card{
  border: 5px solid #37393b;
  box-shadow: 10px 10px #9ed0c9;
  overflow: scroll;
  padding: 3%;
  height: fit-content;
  width: 80%;
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1; 
  animation-fill-mode: forwards; 
}

button{
  margin-top: 5%;
}

#qNum{
  text-decoration: underline;
}

body {
  height: fit-content;
  background-color: #fff7f3;
}


body, button, h1, h2, h3, h4, span, p, input, label { 
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1; 
  animation-fill-mode: forwards; 
} 

@keyframes fadeInAnimation { 
  0% { 
      opacity: 0; 
  } 
  100% { 
      opacity: 1; 
   } 
} 